<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Snapogram</title>
  </head>
  <body>
    <h1>Snapogram</h1>

    <h3><a href='<%= new_snap_path %>'>Add a snap</a><h3>

    <br>

  <% if Snap.all.any? %>
    <% Snap.all.reverse.each do |snap| %>
      <a href='<%= snap.image.url %>'><%= image_tag snap.image.url(:medium) %></a>
      <!-- <%= link_to "Delete snap", snap_path(snap), method: :delete %> -->
      <h4><%= snap.caption %></h4>
      <p><%= link_to "Delete snap", snap_path(snap), method: :delete %></p>
    <% end %>
  <% else %>
    <h1>No snaps yet</h1>
    <% end %>

  </body>
</html>
